<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InferNetHOL.CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InferNetHOL.CSharp.Properties.Settings>
            <setting name="priceSourcePath" serializeAs="String">
                <value>file://C:/Users/Adam/MarketData/Prices/</value>
            </setting>
            <setting name="instrumentsSourcePath" serializeAs="String">
                <value>file://C:/Users/Adam/MarketData/Instrumentsmidus.csv</value>
            </setting>
        </InferNetHOL.CSharp.Properties.Settings>
    </applicationSettings>
</configuration>